@font-face {
  font-family: "Gotham Pro Light Italic";
  src: url("GothamPro-LightItalic.eot");
  src: url("./fonts/GothamPro-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.home-link {
  text-decoration: none;
  color: black;
}
body {
  margin: 0;
  font-size: 28px;
  padding: 50px 70px;
  font-style: italic;
  font-family: "Gotham Pro Light Italic";
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.contacts {
  font-style: normal;
  font-size: 18px;
  display: none;
  position: absolute;
  right: 0;
}
.info {
  text-align: right;
  width: 50%;
  position: relative;
  cursor: pointer;
}
.contacts a {
  color: blue;
  font-family: serif;
}
.object {
  display: block;
  width: 48%;
  margin-bottom: 50px;
}
img {
  width: 90%;
}
.content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.obj-1,
.obj-2 {
  border: 2px solid blue;
}
/* .object-2 {
  width: auto;
  height: 900px;

}
.object-3 {
  width: auto;
  height: 700px;
} */

.visible {
  display: block;
}
.object-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}
.big-img {
  width: 70%;
}

.small-imgs {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.information {
  font-size: 18px;
  font-family: sans-serif;
  font-style: normal;
}

@media (max-width: 500px) {
  body {
    padding: 10px;
  }
  .object {
    width: 100%;
  }
  .information {
    font-size: 14px;
  }
  .object-wrapper {
    margin-bottom: 40px;
  }
}
