@font-face {
  font-family: "Gotham Pro Light Italic";
  src: url("GothamPro-LightItalic.eot");
  src: url("./fonts/GothamPro-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.home-link {
  text-decoration: none;
  color: black;
}
body {
  margin: 0;
  font-size: 28px;
  padding: 50px 70px;
  font-style: italic;
  font-family: "Gotham Pro Light Italic";
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.contacts {
  font-style: normal;
  font-size: 18px;
  display: none;
  position: absolute;
  right: 0;
}
.info {
  text-align: right;
  width: 50%;
  position: relative;
  cursor: pointer;
}
.contacts a {
  color: blue;
  font-family: serif;
}
.object {
  display: block;
  width: 48%;
  margin-bottom: 50px;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.visible {
  display: block;
}
.object-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 800px;
  margin-bottom: 70px;
}
.big-img {
  width: 50%;
}
.big-img img {
  height: 100%;
  width: auto;
}

.small-imgs {
  height: 800px;
  width: 44%;
  display: flex;
  justify-content: space-between;
  text-align: right;
  flex-wrap: wrap;
}
.smallest{
  display: flex;
}
.obj {
  width: 48%;
  overflow: hidden;
}
.obj img{
  height: auto;
  width: 100%;
}
.first,
.second{
  display: flex;
  justify-content: space-between;
  height: 50%;
}
.second{
  align-items: flex-end;
}
/* .smallest .obj{

} */
.information {
  font-size: 18px;
  font-family: sans-serif;
  font-style: normal;
}
.info-btn{
margin-bottom: 20px;
}

@media (max-width: 500px) {
  body {
    padding: 10px;
  }
  .object {
    width: 100%;
  }
  .information {
    font-size: 14px;
  }
  .object-wrapper {
    margin-bottom: 40px;
    width: 100%;
    flex-direction: column;
    height: auto;
  }
  .big-img,
  .big-img img  {
    width: 100%;
}
.info-btn{
  margin-bottom: 10px;
  }
header{
  margin-bottom: 70px;
}
.small-imgs{
  width: 100%;
  height: auto;
}
.obj{
  width: 49%;
}
.object img{
  width: 100%;
}
}
